:root {
  --primary-color: #ec5242;
  --secondary-color: #d3d3d3;
  --third-color: #272a31;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  font-style: normal;
}

a {
  text-decoration: none;
}

.nav {
  display: flex;
  gap: 10px;
  position: relative;
}

.nav-list {
  display: flex;
  gap: 10px;
  list-style: none;
  font-size: 1rem;
}

#nav-button {
  border: 4px solid var(--primary-color);
  padding: 10px;
  width: 8em;
  text-align: center;
}

.close {
  display: none;
  color: var(--secondary-color);
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.burger {
  display: none;
  margin: 30px 0 0 40px;
  width: 30px;
  cursor: pointer;
}

.hero {
  background-image: url("images/base/main_big.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 120vh;
}

.hero-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  right: 0;
  position: relative;
  left: 0;
  bottom: 0;
  top: 0;
  padding-top: 5em;
  width: 80%;
  gap: 1.6rem;
}

.hero-cont h1 {
  font-size: 2rem;
  line-height: 3rem;
  padding-left: 1.5%;
  color: transparent;
  -webkit-text-stroke: 1px #b10000;
  background-image: url("images/base/back.png");
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: move 20s linear infinite;
}

#span-head {
  color: rgb(162, 3, 22, 0.8);
  font-size: 4rem;
}

@keyframes move {
  100% {
    background-position: 20000px 0;
  }
}

.hero-cont p {
  font-size: 1rem;
  color: var(--third-color);
  width: fit-content;
  background-color: #fff;
  line-height: 1.5rem;
  font-weight: 600;
  padding: 1.5em;
  border: 1px solid var(--secondary-color);
}

.hero-cont h2 {
  color: var(--third-color);
  line-height: 1.4em;
}

.hero-cont2 {
  margin: 2.5em auto 0;
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.hero-cont2 h3 {
  color: var(--third-color);
  width: fit-content;
  background-color: #fff;
}

.hero-cont2 h5 {
  color: #863737;
  font-size: 1.25rem;
}

.hero-cont2 a {
  color: var(--third-color);
  border-bottom: 1px solid var(--third-color);
  width: fit-content;
  margin: 0 auto;
}

.nav ul a {
  color: grey;
}

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 355px;
  padding: 0 1em;
  text-align: center;
  align-items: center;
  margin-top: 2em;
}

.section2 h2 {
  font-size: 1.25em;
  font-weight: 700;
}

.section2 p {
  color: #838383;
}

.section2 img {
  width: 300px;
}

.past-summit {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 1.2em;
  padding: 0 1em;
  margin: 3em auto;
  color: #2c2c2c;
}

.icons {
  background-color: #414246;
  min-height: 220px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  color: aliceblue;
  font-size: 1.25rem;
  padding: 0 1em;
}

.icons-imgs img {
  width: 100px;
}

.footer {
  min-height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.8rem;
  gap: 1rem;
  padding: 0 0.6em;
}

#foot-img {
  width: 140px;
}

@media (min-width: 768px) {
  .nav {
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
  }

  .above-nav {
    height: 40px;
    background-color: var(--third-color);
    width: 100%;
    gap: 1.5em;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 10vw;
  }

  .above-nav a {
    color: #fff;
  }

  .nav-icon {
    color: #fff;
  }

  .nav-list {
    display: flex;
    gap: 4rem;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
  }

  #nav-button {
    color: #b10000;
  }

  #nav-logo {
    width: 100px;
  }

  #about {
    color: #b10000;
  }

  .hero-cont {
    width: 80%;
    display: flex;
    gap: 2.4rem;
  }

  .hero-cont h1 {
    font-size: 3rem;
    line-height: 1.2em;
  }

  #span-head {
    font-size: 5rem;
  }

  #hero-p {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  .hero-cont h2 {
    font-size: 2.5rem;
    color: #595959;
  }

  .icons {
    display: none;
  }

  .footer {
    background-color: var(--third-color);
    color: var(--secondary-color);
    min-height: 250px;
    display: flex;
    justify-content: space-around;
  }

  #foot-img {
    display: none;
  }

  .foot-txt {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    width: 60%;
    line-height: 1.5rem;
  }

  #foot-img2 {
    min-width: 350px;
  }
}

@media (max-width: 768px) {
  .burger {
    display: block;
    position: absolute;
    z-index: 500;
  }

  .burger.active {
    display: none;
  }

  .close {
    display: none;
    position: fixed;
    left: 60%;
    z-index: 565677;
    margin-top: 1.3em;
  }

  .close.active {
    display: block;
  }

  .above-nav {
    display: none;
  }

  .nav-list {
    display: none;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    opacity: 0.9;
    width: 66%;
    background-color: var(--third-color);
    z-index: 88888;
    padding-left: 1.5em;
    padding-top: 1.5em;
    gap: 30px;
  }

  .nav-list li {
    border-bottom: 1px solid gray;
    padding: 10px 0;
  }

  .nav-list li a {
    color: var(--secondary-color);
  }

  .nav-list.active {
    display: flex;
  }

  #nav-logo {
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    right: 0;
    left: 84%;
    bottom: 0;
    top: 0;
    z-index: 5654656565;
    margin-top: 1em;
  }

  #nav-button {
    border: 4px solid var(--primary-color);
    padding: 10px;
    width: 8em;
  }

  #foot-p {
    display: none;
  }

  #foot-img2 {
    display: none;
  }
}
